@screen md {
  html {
    @apply text-md;
  }
}

body {
  @apply font-body text-gray-800;
}

h1 {
  @apply text-5xl font-semibold tracking-tight leading-none
}

/* Nav */

.nav {
  height: 0;
  overflow: hidden;

  &.expand {
    height: auto;
  }
}
