/* Buttons */

.btn {
  @apply py-2 px-4 rounded rounded-full;
}

.btn--primary {
  @apply text-white bg-primary;
}


/* Forms */

.input {
  @apply p-2 w-full appearance-none border rounded shadow text-gray-700 leading-tight;
}

.select {
  @apply block p-2 pr-8 appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 rounded leading-tight;
}

.input,
.select {
  &:focus {
    @apply outline-none shadow-outline;
  }
}


/* Icons */

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
