/* Buttons */

.btn {
  @apply py-1 px-4 text-center rounded-lg;

  &:hover {
    @apply bg-primary-var;
  }

  &:focus {
    @apply bg-primary-var outline-none shadow-outline;
  }
}

.btn--primary {
  @apply text-white bg-primary;
}


/* Typography */

.headline {
  @apply font-semibold uppercase tracking-wide;
}

@screen md {
  .headline {
    @apply text-xl;
  }
}

/* Forms */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-control-button {
  @apply px-3 h-full text-gray-700 cursor-pointer;

  &:first-child {
    @apply rounded-l-lg
  }

  &:last-child {
    @apply rounded-r-lg
  }

  &:hover {
    @apply text-gray-700 bg-gray-300;
  }

  &:focus {
    @apply bg-gray-400 outline-none;
  }
}

.input {
  @apply p-2 w-full appearance-none border rounded shadow text-gray-700 leading-tight;
}

.select {
  @apply block p-2 pr-8 appearance-none w-full leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded-lg;
}

.input:focus,
.select:focus {
  @apply outline-none shadow-outline;
}


/* Icons */

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
